* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* checkbox 커스텀 */
.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    + label {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;

      .checkbox-icon {
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 1px solid var(--gray40);
        border-radius: 4px;
        margin-right: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
          content: "\2713";
          font-size: 10px;
          color: transparent;
        }
      }
    }

    &:checked + label {
      .checkbox-icon {
        background-color: #007bff;
        border-color: #007bff;

        &:before {
          color: #fff;
        }
      }
    }
  }
}
