$main_color: #4976EF;
$search-bkg: #f1f1f1;

.header {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #f1f1f1;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 100%;

    .logo-search-wrap {
      display: flex;
      align-items: center;
      gap: 40px;

      .logo {
        color: $main_color;
        font-size: 24px;
      }

      .search-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 18px;
        width: 540px;
        border: 2px solid transparent;
        background: linear-gradient(to right, white, white) padding-box,
          linear-gradient(to right, $main_color, #50A7C2) border-box;
        border-radius: 8px;
        
        input {
          width: 100%;
          border: transparent;
          font-size: 14px;
          outline: none;
        }
      }
    }

    .gnb {
      font-size: 14px;
      color: #606060;
      display: grid;
      gap: 16px;
      grid-auto-flow: column dense;
      align-items: center;

      .login-btn {
        padding: 8px 22px;
        background-color: #FFF;
        border: none;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        color: var(--gray80);

        &:hover {
          background-color: var(--gray10);
          cursor: pointer;
        }
      }
    }
  }
}