.header-component {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #F1F1F1;

    .logo-wrap {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        min-width: 260px;
        height: 100%;
        border-right: 1px solid #F1F1F1;

        img {
            width: 120px;
        }
    }

    gnb {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        padding-right: 50px;
        width: 100%;

        .icon-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 100%;

            &:hover {
                cursor: pointer;
                background-color: black;
            }
        }

        img {
            width: 16px;
            height: 16px;
        }

        .form-control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 20px;
            background-color: #F8F8F8;
            width: 380px;
            border-radius: 8px;

            input[type=search] {
                width: 100%;
                border: none;
                background-color: inherit;
            }
        }
    }
}