.home {
  .banner-wrap {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    background-color: #EFF5FF;
    background-image: url("");
    background-size: cover; /* Use background-size instead of object-fit */
    background-position: center; /* Center the background image */
  }
  

    .pinned-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        width: 100%;
    }

    .setting-pin {
        display: flex; 
        align-items:center; 
        gap: 4px;
        border: transparent;
        background-color: inherit;
        color: #9C9E9C;
        font-size: 12px;

        img {
            width: 14px;
            height: 14px;
        }
    }
    .board-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin-top: 32px;
      width: 100%;
      .board-box {
        border: 1px solid #f1f1f1;
        border-radius: 10px;
  
        .board-name-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
  
          h3 {
            font-size: 16px;
          }
  
          .more {
            font-size: 12px;
            color: #606060;
          }
        }
      }
      ul {
        padding: 10px 20px;
        list-style: none;
        li {
          display: flex;
          gap: 10px;
  
          .board-info {
            display: flex;
            flex-direction: column;
            gap: 2px;
            margin-bottom: 14px;
            width: 100%;
            .title-comment-wrap {
              display: flex;
              align-items: center;
              gap: 4px;
              .title {
                font-size: 14px;
              }
  
              .comment {
                font-size: 12px;
                color: #4976EF;
              }
  
              
            }
            .activity-wrap {
                display: flex;
                gap: 4px;
                font-size: 12px;
                color: #606060;
              }
            .content {
              margin: 5px 0px;
              color: #101010;
              font-size: 13px;
            }
            .date {
              color: #606060;
              font-size: 12px;
            }
          }
        }
      }
    }
}