.home-component {
  .banner-wrap {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    background-color: #EFF5FF;
    background-image: url("");
    background-size: cover; /* Use background-size instead of object-fit */
    background-position: center; /* Center the background image */
  }
  

    .pinned-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        width: 100%;
    }

    .setting-pin {
        display: flex; 
        align-items:center; 
        gap: 4px;
        border: transparent;
        background-color: inherit;
        color: #9C9E9C;
        font-size: 12px;

        img {
            width: 14px;
            height: 14px;
        }
    }
}