.join {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 4px;

  .logo-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
    
    .logo {
      width: 120px;
      text-align: center;
    }
  }

  .user-input {
    display: flex;
    flex-direction: column;
    color: var(--gray70);
    gap: 4px;

    label {
      margin-top: 14px;
      font-size: 12px;
    }

    #nickname,
    #password,
    #username,
    #email,
    #phone {
      width: 300px;
      height: 40px;
      border: none;
      border-bottom: 1px solid var(--gray40);
      font-size: 14px;
      outline: none;
    }
  }

  #joinBtn {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    background-color: #4976EF;
    color: #FFF;
    border: transparent;

    &:hover {
      background-color: #496EEF;
      cursor: pointer;
    }
  }

  .ask-join-wrap {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 12px;

    .join-wrap {
      color: var(--blue100);
    }
  }
}