.list-view {
  .full-container {
    margin: 0 auto;
    width: 1200px;
    .sub-top-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .board-name {
        font-size: 22px;
        color: var(--color_primary);
      }
      .search-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 280px;
        height: 38px;
        border: 1px solid var(--gray40);
        border-radius: 4px;
        input {
          padding: 0px 10px;
          width: 100%;
          height: 100%;
          border: transparent;
          border-radius: 4px;
          &:focus {
          outline: 1px solid var(--blue80);
          }
        }
        img {
          margin-right: 10px;
          width: 14px;
          height: 14px;
          
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .list-wrap {
      margin-top: 40px;
      .list {
        padding: 32px 30px;
        border-top: 1px dashed var(--gray40);
        &:first-child {
          border-top: none;
        }
        &:hover {
          .title {
            text-decoration: underline;
          }
          cursor: pointer;
        }
        .list-title-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .boardname-title-wrap {
            display: flex;
            align-items: center;
            gap: 8px;
            .board-name {
              padding: 4px 8px;
              border-radius: 4px;
              color: #4876ef;
              background-color: #eff5ff;
              font-size: 13px;
            }
            .title {
              font-size: 20px;
              color: var(--color_primary);
            }
          }
          img {
            width: 20px;
            height: 20px;
          }
        }
        .list-content {
          margin: 12px 0px 20px 0px;
          font-size: 14px;
          color: var(--color_secondary);
        }
        .list-detail-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: var(--gray70);
          .comment-like-wrap {
            display: flex;
            align-items: center;
            gap: 14px;
            font-size: 12px;
            .comment-box,
            .like-box,
            .view-box {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
          .writer-date-wrap {
            display: flex;
            gap: 10px;
            font-size: 12px;
          }
        }
      }
    }
    .paging-wrap {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      width: 100%;
      font-size: 13px;
      .paging-inner {
        display: flex;
        align-items: center;
        gap: 20px;
        .paging-num-wrap {
          display: flex;
          gap: 10px;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            &.on {
              border: 1px solid var(--gray60);
            }
            
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .btn-wrap {
      margin-top: 20px;
      .router-link-class {
        .write-btn {
          display: flex;
          align-items: center;
          padding: 10px 20px;
          background-color: #FFF;
          color: var(--color_primary);
          font-size: 14px;
          border: 1px solid var(--gray40);
          border-radius: 4px;
          
          img {
            margin-right: 4px;
          }
          
          &:hover {
            background-color: var(--gray10);
            cursor: pointer;
          }
        }
      }
    }
  }
}