.scrap-mypage {
  display: flex;
  
  .admin-content-wrap {
    width: calc(100% - 270px);
    
    .admin-content {
      padding: 38px;
      height: 100vh;
      
      .admin-content-inner {
        margin: 0 auto;
        
        .page-title {
          color: #373f57;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: -3px;
          line-height: 56px;
        }
        
        .tabs {
          display: flex;
          justify-content: space-around;
          margin: 40px 0px 24px 0px;
          border-radius: 10px;
          background-color: #F7F7FA;
          font-size: 14px;
          
          .tab-container {
            cursor: pointer;
            margin: 4px;
            padding: 10px;
            width: 100%;
            text-align: center;
            border-radius: 5px;
            
            &.active {
              background-color: #fff;
              font-weight: bold;
            }
          }
        }
      }
    }
    
    .tab-content {
      .top-btns-wrap {
        display: flex;
        justify-content: space-between;
        padding: 30px 0px 14px 0px;
        height: 38px;
        
        .btn-wrap {
          display: flex;
          align-items: center;
          gap: 4px;
          
          button {
            padding: 8px 10px;
            border: none;
            background-color: #FFF;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
            
            &:hover {
              background-color: var(--gray10);
              cursor: pointer;
            }
          }
        }
      }
      
      .list-wrap {
        background-color: #FFF;
        border-radius: 10px;
        
        li {
          border-bottom: 1px dashed var(--gray40);
          
          &:last-child {
            border-bottom: none;
          }
          
          a {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 30px;
            width: calc(100% - 60px);
            
            &:hover {
              .title {
                text-decoration: underline;
              }
              cursor: pointer;
            }
            
            .writer-date-wrap {
              margin-bottom: 4px;
              font-size: 12px;
              color: #8694A9;
            }
            
            .list-content {
              width: 100%;
              
              .boardname-tit-wrap {
                display: flex;
                align-items: center;
                gap: 8px;
                
                .boardname {
                  padding: 4px 8px;
                  border-radius: 4px;
                  color: #4876ef;
                  background-color: #eff5ff;
                  font-size: 13px;
      
                }
                .title {
                  color: #383F57;
                  font-size: 20px;
                }
              }
              
              .content {
                margin-top: 10px;
                color: #8694A9;
                font-size: 14px;
              }
              
              .detail-info-wrap {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                width: 100%;
                
                .active-wrap {
                  display: flex;
                  align-items: center;
                  gap: 14px;
                  font-size: 12px;
                   color: #8694A9;
                  .comment-box,
                  .like-box,
                  .view-box {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}